
body {
    background-color: #fff;
}

.navbar-default sidebar{
    position: absolute;
    width: 100%;
}

.navbar-default {
    background-color: #fff;
}

.form-horizontal .control-label{
    text-align:left;
}

.form-control[data-toggle='datepicker'] {
    background-color: #fff;
}

.nowrap-t {
    white-space: nowrap;
    display: block;
}

.pull-left {float: left; width: 50%;}
.text-right {text-align: right;}

.show-print {display: none}

@media screen and (max-width: 300px) {
    .pull-left {float: none;}
    .text-right {text-align: left;}
}

@media print {
    .dont-print {display: none !important;}
    .show-print {display: block !important;}
}